body {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
main {
    margin: 0 auto;
    max-width: 750px;
    padding: 1em; 

}

.index-header {
    margin: 0 auto;
    max-width: 350px;
    height: auto;
}
#q{
    width: 100%;
    border-radius: 10px;
    border: 1px gray;
    padding: 0.7em;
    margin: 0 auto;
    box-shadow: 1px 10px 8px 10px gray;
}

#submit{
    border: 4px;
    border-color: gray;
    border-radius: 5px;
}

div.field > input[type= submit]{
    border: 4px;
    border-color: gray;
    border-radius: 5px;
    visibility: hidden;
}

.pm {
    padding: 1em;
    margin: 0.5em;
    font-family: arial, sans-serif;
}

.pmsearch{
    padding: 1em;
    margin: 1em 2em;
    font-family: arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    color: black;
    width: 80%;
    max-width: 150px;
}

.display {
    display: flex;
    justify-content: center;
}


.advancedlogo{
    color: #d93025;
    font-size: 20px;
    margin: 15px 35px
}

.line {
    border-bottom: 1px solid #ebebeb;
}
.pagebox{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

div.rectangle {
    width: 100%;
    clear: both;
}

div.pageline {
    clear: both;
}
div.rectangle div.c-head {
    float: left;
    display: inline-block;
    min-width: 167px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}

div.c-main {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

div.rectangle div.space {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

div.rectangle div.s-head {
    float: left;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}
div.rectangle div.atw {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

div.rectangle div.inputbox {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

div.field {
    padding-right: 16px;
}

div.rectangle div.textinput input[type=text] {
    width: 100%;
    text-align: left;
}
.textinput {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 480px;
}

div.rectangle div.rightbox {
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1px;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

span.grey {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

@media screen and (max-width: 1000px) {
    div.s-head > div.c-main, div.rightbox > div.c-main {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    div.inputbox > div.field {
        display: flex!important;
        flex-shrink: 1!important;
    }
}

@media screen and (max-width: 300px) {
    .pm {
        padding: 0;
    }
    .index-header {
        max-width: 200px;
    }
    .content {
        width: 100%;
        margin: 0 auto;
        max-width: 450px;
    }
    .pmsearch {
        padding: 0.5em;
        width: 50%;
        margin: 0 auto;
    }
}